@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600italic,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,900);

body{
  font-family: "Open Sans", monospace;
  font-weight: normal;
  font-size: 20px;
}
h1{
  font-family:cursive;
  color:purple
}
h2{
  font-family: "Open Sans," sans-serif;
  color: red;
}
#ingredients{
  font-family: "Raleway",sans-serif;
  font-weight: 100;
  font-size: 15px;
  box-sizing: border-box;
  padding:auto;
  margin:auto;
  text-align: left;
  float: left;
  width:50%;
  border-right:10px solid black;
}
#directions{
  font-weight: 700;
  font-size: 15px;
  color: brown;
  box-sizing:border-box;
  padding:auto;
  margin:auto;
  text-align: left;
  float:left;
  width:50%;
}
#intro{
  font-weight: 400;
  font-size: 15px;
  font-family: fantasy;
  color:pink
}
